{% extends "../../layout-main.njk" %}

{% block head %}

<title>Foodfy - chefs</title>

{% endblock head %}

{% block content %}
<div id="chefs">
    <div class="wrapper-grid chefs">
        {% for chef in chefs %}

            <div class="card-content chef">
                <span style="background-image: url({{chef.file_path}});"></span>
                <div class="card-info">
                    <h2>{{chef.name}}</h2>
                    <div>{{chef.qt_recipes}} receitas</div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>
{% endblock content %}

