{% extends "../../layout-main.njk" %}

{% block head %}
    <title>About - Foodfy</title>
{% endblock head %}

{% block content %}

        <main>
            <div class="text-about">
                <h1>Sobre o Foodfy</h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                </p>

                <h2>Como tudo começou</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendiss
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                </p>

                <h2>Nossas receitas</h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                </p>
            </div>
        </main>
    </div>


{% endblock content %}
