<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/visuals/menu.css">
        {% block head %}{% endblock %}

    <body>
        <header>
            <nav class="menu">

                <div class="logo">
                    <a href="/">
                        <img src="/assets/logo.png" alt="Foodfy">
                    </a>
                </div>

                {% block links %}{% endblock %}

            </nav>

        </header>

        <div class="content-flex">
            <div class="content">
                {% block content %}{% endblock %}
            </div>

            <div class="copyright">
                <p>Todos direitos reservados, receitas Foodfy.</p>
            </div>
        </div>
    </body>

</html>