{% extends "../layout-admin.njk" %}

{% block head %}

<title>Admin - Editando</title>

{% endblock head %}

{% block content %}

<div class="recipe">

    <div class="form">
        <div class="delete">
            <form method="POST" action="/admin/recipes?_method=DELETE">
                <input type="hidden" name="id" value="{{recipe.id}}">
                <button class="button-delete" type="submit" onClick="confirmationOfButtons.verifyingBeforeDeleteRecipe(event)">
                  <span>Deletar</span>
                </button>
            </form>
        </div>
        <form method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
            <div class="head">
                <div>

                <span><h1>Editando Receita</h1></span>
                </div>
                <div class="button-wrapper">
                    <button class="button" type="submit" onClick="confirmationOfButtons.verifyingBeforeSavingRecipe(event)"><span>Salvar Receita</span></a>
                </div>
            </div>
            {%include "admin/recipes/fields.njk"%}
            <input type="hidden" name="id" value="{{recipe.id}}">
        </form>
    </div>
</div>


{% endblock content %}

