<header>
  <nav class="menu admin">
    <div>
        <ul>
          <li class="logo"><a href="/admin"><img src="//localhost:3000/img-app/logo-admin.png" alt="logo do site"></a></li>
          <li><a href="/admin">Receitas</a></li>
          <li><a href="/admin/chefs">Chefs</a></li>
          {% if userIsAdmin %}
            <li><a href="/admin/users">Usuários</a></li>
          {%else%}
            <li><a href="/admin/profile">Minha conta</a></li>
          {% endif %}
        </ul>
    </div>
    <div class="logout">
      <p><a href="/users/logout" onclick="confirmationOfButtons.verifyingBeforeLogout(event)">Sair</a></p>
    </div>
  </nav>
</header>